h1{
    text-align: center;}

    div.restaurant{
        width: 301px;
        height: 301px;
        margin: 69px;
        float: left;
        
    }


div{
    background-color: green;
    width: 301px;
    height: 301px;
    color: black;
    text-align: center;
    margin: 69px;
    float: right;
    line-height:150px;
    transition: 0s;


}
button{
   float: right;
}