h1 {
  text-align: center;
}
span {
  width: 190px;
  height: 70px;
  color: wheat;
  float: left;
  margin-top: 100px;
  margin-left: 20px;
}
p {
  box-sizing: border-box;
}

div {
  background-color: rgb(90, 6, 6);
  width: 280px;
  height: 280px;
  margin: 1px;
  float: left;
  color: wheat;
  text-align: center;
  margin-left: 15px;
}

div#root {
  background-color: rgb(0, 0, 90);

  color: white;
  text-align: center;
  height: 50%;
  box-sizing: border-box;
  width: 63%;
  margin: 0 auto;
  margin-left: 10px;
  margin-right: 200px;
}
button#addTable {
  display: block;
  width: 90px;
  height: 90px;
  float: left;
  background-color: black;
  color: white;
  cursor: pointer;
}
button#addTable:hover {
  background-color: white;
  color: black;
}
button {
  background-color: black;
  color: white;
  width: 60px;
  height: 60px;
  float: right;
  cursor: pointer;
}
